<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${title}">Default Title</h1>

<br />

    <form method="post" style="max-width:300px;" th:object="${form}" action="/date/add-person">

        <div class="form-group">
            <label th:for="userId">Name</label>
            <select name="userId">
                <option th:each="user : *{users}"
                        th:text="${user.name}"
                        th:value="${user.id}"></option>
            </select>
        </div>

        <div class="form-group">
            <label th:for="food-field">Food</label>
            <!--<input class="form-control" th:field="*{food}" />-->
            <input class="form-control" id="food-field" type="text" name="food" />
            <!--<span th:errors="*{food}" class="error"></span>-->
        </div>

        <br />
        <input type="hidden" name="dateId" th:value="*{dateId}" />
        <input type="submit" value="Add Person" />

    </form>

<br />
<br />

<nav th:replace="fragments :: navigation"></nav>

</body>

</html>
