<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body class="container body-content">
    <h1 th:text="${title}">Default Title</h1>

    <br />

    <form method="post" style="max-width:300px;" th:object="${foodDay}">
        <div class="form-group">
            <label th:for="date-field">Date</label>
            <input class="form-control" th:field="*{date}" />
            <span th:errors="*{date}" class="error"></span>
        </div>
        <input type="submit" value="Add Date" />
    </form>

    <br />
    <br />

    <nav th:replace="fragments :: navigation"></nav>

</body>

</html>
