<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body class="container body-content">

    <h1 th:text="${title}">Default Title</h1>

    <p th:unless="${dates} and ${dates.size()}">No dates :(</p>

    <ul>
        <li th:each="date : ${dates}">
            <a th:href="'/food/date?id=' + ${date.id}" th:text="${foodDay.date}"></a>
        </li>
    </ul>

    <br />
    <a href="/food">Home</a> |
    <a href="/date/add">Add Date</a> |
    <a href="/date/remove">Remove Date</a>

</body>

</html>