<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body class="container">
    <h1 th:text="${title}">Default Title</h1>

    <p th:unless="${dates} and ${dates.size()}">No dates :(</p>

    <tr th:each="date : ${dates}">
        <!--<td><a th:href="'/date/index?id=' + ${date.id}">${foodDay.date}</a></td>-->
        <td th:text="${foodDay.date}" ></td>
    </tr>

    <br />
    <a href="/food">Home</a> |
    <a href="/date/add">Add Date</a> |
    <a href="/date/remove">Remove Date</a>

</body>

</html>
