<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body class="container body-content">
<h1 th:text="${title}">Default Title</h1>

    <br />

    <form method="post">

        <div th:each="date : ${dates}" class="checkbox">
            <input type="checkbox" name="dateIds" th:value="${date.id}" th:id="${date.id}" />
            <label th:for="${date.id}" th:text="${date}"></label>
            <br />
        </div>

        <input type="submit" value="Remove Person" />

    </form>

    <br />
    <br />

    <nav th:replace="fragments :: navigation"></nav>

</body>

</html>