<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body class="container">
<h1 class="title" th:text="${date.date}">Default Title</h1>

<br />

<a th:href="'/date/add-food/' + ${date.id}">Add Food</a> |
<a th:href="'/date/remove-food/' + ${dateId}">Remove Food</a>
<br />

<br />

<h3 th:unless="${persons} and ${persons.size()}">No one is bringing food &nbsp; :(</h3>
<br />
<br />

  <table class="table">
    <tr>
      <th>Name</th>
      <th>Contribution</th>
    </tr>

    <tr th:each="user : ${users}">
      <td th:text="${user.name}"></td>
      <td th:text="${user.food}"></td>
      <td><a th:href="@{'/date/edit-food/' + ${person.id}}">Edit</a></td>
    </tr>
  </table>

<br />

<nav th:replace="fragments :: navigation"></nav>

</body>

</html>
