<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${date.date}">Default Title</h1>

<br />

<a th:href="'/date/add-person/' + ${date.id}">Add Person</a> |
<a th:href="'/food/remove' + ${dateId}">Remove Person</a>
<br />

<br />

<p th:unless="${persons} and ${persons.size()}">No one is bringing food  :(</p>

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Contribution</th>
        </tr>

        <tr th:each="person : ${persons}">
            <td th:text="${person.name}"></td>
            <td th:text="${person.food}"></td>
            <td><a th:href="@{'/food/edit/' + ${person.id}}">Edit</a></td>
        </tr>
    </table>

<br />

<nav th:replace="fragments :: navigation"></nav>

</body>

</html>
