<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body class="container body-content">

<h1 th:text="${title}">Default Title</h1>

<h3 th:value="${date}">Date</h3>
<br />

<br />
<a href="/food/add">Add Person</a> |
<a href="/food/remove">Remove Person</a>
<br />

<br />

<p th:unless="${persons} and ${persons.size()}">No one is bringing food  :(</p>

<table class="table">

    <tr>
        <th>Name</th>
        <th>Contribution</th>
    </tr>

    <tr th:each="person : ${persons}">
        <td th:text="${person.name}"></td>
        <td th:text="${person.food}"></td>
    </tr>

</table>

<br />

<nav th:replace="fragments :: navigation"></nav>

</body>

</html>