<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container">

    <form method="post" style="max-width:500px;" th:object="${user}">

        <h1 th:text="${title}">Default Title</h1>

        <div class="form-group">
            <label th:for="username">Username:</label>
            <input class="form-control" th:value="${name}" id="name" type="text" name="name" />

            <!--<input class="form-control" th:field="*{name}" />

            <span th:errors="*{name}" class="error"></span>-->
        </div>

        <div class="form-group">
            <label th:for="password">Password:</label>
            <input class="form-control" type="password" id="password" name="password" />

            <!--<input class="form-control" type="password" th:field="*{password}" />

            <span th:errors="*{password}" class="error"></span>-->
        </div>

        <input type="submit" value="Login" />

    </form>

</body>

</html>
